@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

@code {
    private bool isMenuOpen = false;
    
    public bool isLoaded { get; set; } = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            isLoaded = true;
            StateHasChanged(); 
        }
    }
}

<nav id="nav_menu" class="fixed top-0  right-0 left-0 z-10 @(!isLoaded ? "loading" : "")">
    <div class="container relative md:flex md:flex-row md:items-center md:justify-between mx-auto">
        <div id="nav_bar" class="flex items-center justify-between p-4">
            <a href="/">
                <h1 id="logo" class="text-2xl font-bold">AR</h1>
            </a>
            <button
                class="block md:hidden p-2 text-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-gray-400"
                @onclick="@ToggleMenu">
                @if (!isMenuOpen)
                {
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                        </path>
                    </svg>
                }
                else
                {
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                }
            </button>
        </div>

        <!-- Conditionally render "hidden" class on the #nav_items container -->
        <div id="nav_items" class="@($"md:flex {(isMenuOpen ? "" : "hidden")} absolute md:static")">
            <ul id="nav_list" class="flex flex-col md:flex-row md:flex p-4 space-y-2 md:space-y-0 md:space-x-4 md:bg-transparent">
                <li><NavLink activeClass="active" @onclick="@ToggleMenu" href="/services" class="nav-item">Services</NavLink></li>
                <li><NavLink activeClass="active" @onclick="@ToggleMenu" href="/bio" class="nav-item">Biography</NavLink></li>
                <li><NavLink activeClass="active" @onclick="@ToggleMenu" href="/music" class="nav-item">Music</NavLink></li>
                <li><NavLink activeClass="active" @onclick="@ToggleMenu" href="/contact" class="nav-item">Contact</NavLink></li>
            </ul>
        </div>
    </div>
</nav>
